@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: "NVN Motherland Signature";
  src: url("../fonts/NVN-Motherland-Signature.ttf");
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  font-family: "Roboto Mono", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .create-container {
    max-width: 900px;
    margin: 0 auto;
  }
}
.home-menu-items:hover div {
  @apply bg-opacity-10 bg-primaryColor;
}
.home-menu-ul {
  border-right: 1px solid #d7d7ea;
}
.text-signature {
  font-family: "NVN Motherland Signature";
  font-weight: 200;
}

.home-sidebar:hover .homesidebar-close-icon {
  opacity: 100;
}

/*  */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-item {
  /* flex: 0 0 100px; */
  width: auto;
  /* height: 60px; */
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-in-row {
  border: 2px solid red;
  background-color: #ffe4e4;
}

.fake-cursor-animation {
}

@keyframes dynamicCursor {
  0% {
    opacity: 0;
  }
  20%,
  40%,
  60%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
